body{
  background-image: url("../img/bg_test2.JPG");
  background-attachment:fixed;
  overflow-x: hidden;

}

h1{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h5{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h6{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

a{
  color: black;
}

#myVideo{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-width: 100%;
  width: auto;
  height: auto;

}

#topo_index{
  margin-top: 700px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-image: url("../img/bg_test2.JPG");
  background-attachment: fixed;
}

#topo{
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-image: url("../img/bg_test2.JPG");
  background-attachment: fixed;
}
#menu_toggle{
  position: fixed;
  top: 60px;
  left: auto;
  right: 30px;
}

#links{
  margin-top: 20px;
}

#links a{
  margin-right: 5px;
  margin-left: 5px;
  color: black;
}
#links a:hover{
  margin-right: 5px;
  margin-left: 5px;
  color: #ffdd99;
}

#portfolio_links{
  margin-top: 30px;
  text-align: center;
}
#portfolio_links a{
  color: black;
  margin-right: 5px;
  margin-left: 5px;
}
#portfolio_links a:hover{
  text-decoration: none;
  color: #ffdd99;
}

.conteudo{
  padding-top: 40px;

}
.conteudo .row{
  margin-top: 30px;
  margin-bottom: 30px;
}
.conteudo img{
  width: 100%;
}

.overlay_container{
  position: relative;
  margin-bottom: 20px;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 221, 153, 0.9);
}
.overlay:hover{
  opacity: 1;
}
.overlay_text{
  font-size: 20px;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay_container a{
  color: black;
}

.seta{
  position: relative;
  top: 60px;
  left: 20px;
  /* margin-left: 30px;
  margin-bottom: 10px; */
  color: black;
}
.seta:hover{
  color: #ffdd99;
}
.tamanho_video{
  max-width: 700px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

#aboutme{
  max-width: 700px;
}

#foto_perfil{
  text-align: right;
}

#zaask{
  max-width: 200px;
}
/* ============================================== */

@media(max-width: 415px){

  h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
  }
  .conteudo .row{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #portfolio_links a{
    width: 100%;
  }

  #portfolio_links{
    display: none;
  }
  #portfolio_links_mobile{
    display: none;
    height: 800px;
  }
  #portfolio_links_mobile a:hover{
    text-decoration: none;
    color: #ffdd99;
  }
  .menu_drop{
    padding: 50px 0;
    border-bottom: solid;
    border-width: 1px;
    font-size: 30px;
  }
  #hamburger{
    position: absolute;
    top: 60px;
    right: 30px;
  }
  #toggle{
    display: none;
  }
  #toggle:checked + #portfolio_links_mobile{
    display: block;
  }


  #foto_perfil{
    text-align: center;
  }
  #links{
    text-align: center;
  }
  #zaask{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  #aboutme{
    padding: 0 20px;
  }
}
@media(max-width: 767px){
  .conteudo .row{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #portfolio_links a{
    width: 100%;
  }

  #portfolio_links{
    display: none;
  }
  #portfolio_links_mobile{
    display: none;
    height: 800px;
  }
  #portfolio_links_mobile a:hover{
    text-decoration: none;
    color: #ffdd99;
  }
  .menu_drop{
    padding: 50px 0;
    border-bottom: solid;
    border-width: 1px;
    font-size: 30px;
  }
  #hamburger{
    position: absolute;
    top: 60px;
    right: 30px;
  }
  #toggle{
    display: none;
  }
  #toggle:checked + #portfolio_links_mobile{
    display: block;
  }


  #foto_perfil{
    text-align: center;
  }
  #links{
    text-align: center;
  }
  #zaask{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  #aboutme{
    padding: 0 20px;
  }
}

@media(min-width: 768px){
  #hamburger{
    display: none;
  }
  #toggle{
    display: none;
  }
  #portfolio_links_mobile{
    display: none;
  }
  .conteudo{
    margin-top: 140px;
  }
  .conteudo .row{
    margin-top: 0px;
    margin-bottom: 0px;
  }


  #foto_perfil{
    text-align: center;
  }
  #links{
    text-align: center;
  }
  #zaask{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  #aboutme{
    padding: 0 20px;
  }
}

@media(min-width: 992px){
  .conteudo .row{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .conteudo{
    margin-top: 120px;
  }

  #links{
    text-align: left;
  }

  #zaask{
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
  }

  #foto_perfil{
    text-align: right;
  }
  #aboutme{
    padding: 0;
  }
}
